<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ande.bridge.admin.dao.BridgeManageMapper">
	<resultMap id="BaseResultMap"
		type="com.ande.bridge.admin.model.BridgeManageEntity">


		<id column="bridge_id" property="bridgeId" jdbcType="INTEGER" />
		<result column="bridge_code" property="bridgeCode" jdbcType="VARCHAR" />
		<result column="bridge_design_data_num" property="bridgeDesignDataNum"
			jdbcType="VARCHAR" />
		<result column="bridge_completion_data_num" property="bridgeCompletionDataNum"
			jdbcType="VARCHAR" />
		<result column="bridge_maintenance_data_num" property="bridgeMaintenanceDataNum"
			jdbcType="VARCHAR" />
		<result column="bridge_keeper" property="bridgeKeeper"
			jdbcType="VARCHAR" />
		<result column="traffic_control_measures" property="trafficControlMeasures"
			jdbcType="VARCHAR" />
		<result column="assessd_last_three_years" property="assessdLastThreeYears"
			jdbcType="VARCHAR" />
		<result column="last_rebuild_date" property="lastRebuildDate"
			jdbcType="DATE" />
		<result column="last_rebuild_part" property="lastRebuildPart"
			jdbcType="VARCHAR" />
		<result column="project_nature" property="projectNature"
			jdbcType="VARCHAR" />
		<result column="bridge_owner" property="bridgeOwner" jdbcType="VARCHAR" />
		<result column="bridge_designer" property="bridgeDesigner"
			jdbcType="VARCHAR" />
		<result column="bridge_construction_supervisor" property="bridgeConstructionSupervisor"
			jdbcType="VARCHAR" />
		<result column="bridge_construction_drawings" property="bridgeConstructionDrawings"
			jdbcType="VARCHAR" />
		<result column="bridge_acceptance_opinion" property="bridgeAcceptanceOpinion"
			jdbcType="VARCHAR" />
		<result column="bridge_maintenance_phone" property="bridgeMaintenancePhone"
			jdbcType="VARCHAR" />
		<result column="bridge_manage_phone" property="bridgeManagePhone"
			jdbcType="VARCHAR" />
		<result column="bridge_supervise_dep" property="bridgeSuperviseDep"
			jdbcType="VARCHAR" />
		<result column="bridge_supervise_phone" property="bridgeSupervisePhone"
			jdbcType="VARCHAR" />
		<result column="last_update_date" property="lastUpdateDate"
			jdbcType="DATE" />
	</resultMap>
	<sql id="Base_Column_List">

		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->

		bridge_id, bridge_code,
		bridge_design_data_num,
		bridge_completion_data_num,
		bridge_maintenance_data_num,
		bridge_keeper,
		traffic_control_measures,
		assessd_last_three_years,
		last_rebuild_date,
		last_rebuild_part,
		project_nature, bridge_owner, bridge_designer,
		bridge_construction_supervisor,
		bridge_construction_drawings,
		bridge_acceptance_opinion, bridge_maintenance_phone,
		bridge_manage_phone, bridge_supervise_dep,
		bridge_supervise_phone,
		last_update_date
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">

		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->

		select
		<include refid="Base_Column_List" />
		from t_bridge_manage
		where bridge_id = #{bridgeId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">

		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->

		delete from t_bridge_manage
		where bridge_id =
		#{bridgeId,jdbcType=INTEGER}
	</delete>

	<insert id="insertListEntity" parameterType="java.util.List" useGeneratedKeys="true">
		insert into t_bridge_manage (bridge_id, bridge_code,
		bridge_design_data_num,
		bridge_completion_data_num,
		bridge_maintenance_data_num,
		bridge_keeper, traffic_control_measures,
		assessd_last_three_years,
		last_rebuild_date, last_rebuild_part,
		project_nature,
		bridge_owner, bridge_designer,
		bridge_construction_supervisor,
		bridge_construction_drawings,
		bridge_acceptance_opinion,
		bridge_maintenance_phone,
		bridge_manage_phone,
		bridge_supervise_dep,
		bridge_supervise_phone,
		last_update_date)
		values
		<foreach collection="list" item="item" separator=",">
			(#{item.bridgeId,jdbcType=INTEGER},
			#{item.bridgeCode,jdbcType=VARCHAR},
			#{item.bridgeDesignDataNum,jdbcType=VARCHAR},
			#{item.bridgeCompletionDataNum,jdbcType=VARCHAR},
			#{item.bridgeMaintenanceDataNum,jdbcType=VARCHAR},
			#{item.bridgeKeeper,jdbcType=VARCHAR},
			#{item.trafficControlMeasures,jdbcType=VARCHAR},
			#{item.assessdLastThreeYears,jdbcType=VARCHAR},
			#{item.lastRebuildDate,jdbcType=DATE},
			#{item.lastRebuildPart,jdbcType=VARCHAR},
			#{item.projectNature,jdbcType=VARCHAR},
			#{item.bridgeOwner,jdbcType=VARCHAR},
			#{item.bridgeDesigner,jdbcType=VARCHAR},
			#{item.bridgeConstructionSupervisor,jdbcType=VARCHAR},
			#{item.bridgeConstructionDrawings,jdbcType=VARCHAR},
			#{item.bridgeAcceptanceOpinion,jdbcType=VARCHAR},
			#{item.bridgeMaintenancePhone,jdbcType=VARCHAR},
			#{item.bridgeManagePhone,jdbcType=VARCHAR},
			#{item.bridgeSuperviseDep,jdbcType=VARCHAR},
			#{item.bridgeSupervisePhone,jdbcType=VARCHAR},
			#{item.lastUpdateDate,jdbcType=DATE})
		</foreach>
	</insert>

	<insert id="insert" parameterType="com.ande.bridge.admin.model.BridgeManageEntity">

		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->

		insert into t_bridge_manage (bridge_id, bridge_code,
		bridge_design_data_num,
		bridge_completion_data_num,
		bridge_maintenance_data_num,
		bridge_keeper, traffic_control_measures,
		assessd_last_three_years,
		last_rebuild_date, last_rebuild_part,
		project_nature,
		bridge_owner, bridge_designer,
		bridge_construction_supervisor,
		bridge_construction_drawings,
		bridge_acceptance_opinion,
		bridge_maintenance_phone,
		bridge_manage_phone,
		bridge_supervise_dep,
		bridge_supervise_phone,
		last_update_date)
		values
		(#{bridgeId,jdbcType=INTEGER},
		#{bridgeCode,jdbcType=VARCHAR},
		#{bridgeDesignDataNum,jdbcType=VARCHAR},
		#{bridgeCompletionDataNum,jdbcType=VARCHAR},
		#{bridgeMaintenanceDataNum,jdbcType=VARCHAR},
		#{bridgeKeeper,jdbcType=VARCHAR},
		#{trafficControlMeasures,jdbcType=VARCHAR},
		#{assessdLastThreeYears,jdbcType=VARCHAR},
		#{lastRebuildDate,jdbcType=DATE}, #{lastRebuildPart,jdbcType=VARCHAR},
		#{projectNature,jdbcType=VARCHAR},
		#{bridgeOwner,jdbcType=VARCHAR},
		#{bridgeDesigner,jdbcType=VARCHAR},
		#{bridgeConstructionSupervisor,jdbcType=VARCHAR},
		#{bridgeConstructionDrawings,jdbcType=VARCHAR},
		#{bridgeAcceptanceOpinion,jdbcType=VARCHAR},
		#{bridgeMaintenancePhone,jdbcType=VARCHAR},
		#{bridgeManagePhone,jdbcType=VARCHAR},
		#{bridgeSuperviseDep,jdbcType=VARCHAR},
		#{bridgeSupervisePhone,jdbcType=VARCHAR},
		#{lastUpdateDate,jdbcType=DATE})
	</insert>
	<insert id="insertSelective" parameterType="com.ande.bridge.admin.model.BridgeManageEntity">

		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->

		insert into t_bridge_manage
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bridgeId != null">
				bridge_id,
			</if>
			<if test="bridgeCode != null">
				bridge_code,
			</if>
			<if test="bridgeDesignDataNum != null">
				bridge_design_data_num,
			</if>
			<if test="bridgeCompletionDataNum != null">
				bridge_completion_data_num,
			</if>
			<if test="bridgeMaintenanceDataNum != null">
				bridge_maintenance_data_num,
			</if>
			<if test="bridgeKeeper != null">
				bridge_keeper,
			</if>
			<if test="trafficControlMeasures != null">
				traffic_control_measures,
			</if>
			<if test="assessdLastThreeYears != null">
				assessd_last_three_years,
			</if>
			<if test="lastRebuildDate != null">
				last_rebuild_date,
			</if>
			<if test="lastRebuildPart != null">
				last_rebuild_part,
			</if>
			<if test="projectNature != null">
				project_nature,
			</if>
			<if test="bridgeOwner != null">
				bridge_owner,
			</if>
			<if test="bridgeDesigner != null">
				bridge_designer,
			</if>
			<if test="bridgeConstructionSupervisor != null">
				bridge_construction_supervisor,
			</if>
			<if test="bridgeConstructionDrawings != null">
				bridge_construction_drawings,
			</if>
			<if test="bridgeAcceptanceOpinion != null">
				bridge_acceptance_opinion,
			</if>
			<if test="bridgeMaintenancePhone != null">
				bridge_maintenance_phone,
			</if>
			<if test="bridgeManagePhone != null">
				bridge_manage_phone,
			</if>
			<if test="bridgeSuperviseDep != null">
				bridge_supervise_dep,
			</if>
			<if test="bridgeSupervisePhone != null">
				bridge_supervise_phone,
			</if>
			<if test="lastUpdateDate != null">
				last_update_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bridgeId != null">
				#{bridgeId,jdbcType=INTEGER},
			</if>
			<if test="bridgeCode != null">
				#{bridgeCode,jdbcType=VARCHAR},
			</if>
			<if test="bridgeDesignDataNum != null">
				#{bridgeDesignDataNum,jdbcType=VARCHAR},
			</if>
			<if test="bridgeCompletionDataNum != null">
				#{bridgeCompletionDataNum,jdbcType=VARCHAR},
			</if>
			<if test="bridgeMaintenanceDataNum != null">
				#{bridgeMaintenanceDataNum,jdbcType=VARCHAR},
			</if>
			<if test="bridgeKeeper != null">
				#{bridgeKeeper,jdbcType=VARCHAR},
			</if>
			<if test="trafficControlMeasures != null">
				#{trafficControlMeasures,jdbcType=VARCHAR},
			</if>
			<if test="assessdLastThreeYears != null">
				#{assessdLastThreeYears,jdbcType=VARCHAR},
			</if>
			<if test="lastRebuildDate != null">
				#{lastRebuildDate,jdbcType=DATE},
			</if>
			<if test="lastRebuildPart != null">
				#{lastRebuildPart,jdbcType=VARCHAR},
			</if>
			<if test="projectNature != null">
				#{projectNature,jdbcType=VARCHAR},
			</if>
			<if test="bridgeOwner != null">
				#{bridgeOwner,jdbcType=VARCHAR},
			</if>
			<if test="bridgeDesigner != null">
				#{bridgeDesigner,jdbcType=VARCHAR},
			</if>
			<if test="bridgeConstructionSupervisor != null">
				#{bridgeConstructionSupervisor,jdbcType=VARCHAR},
			</if>
			<if test="bridgeConstructionDrawings != null">
				#{bridgeConstructionDrawings,jdbcType=VARCHAR},
			</if>
			<if test="bridgeAcceptanceOpinion != null">
				#{bridgeAcceptanceOpinion,jdbcType=VARCHAR},
			</if>
			<if test="bridgeMaintenancePhone != null">
				#{bridgeMaintenancePhone,jdbcType=VARCHAR},
			</if>
			<if test="bridgeManagePhone != null">
				#{bridgeManagePhone,jdbcType=VARCHAR},
			</if>
			<if test="bridgeSuperviseDep != null">
				#{bridgeSuperviseDep,jdbcType=VARCHAR},
			</if>
			<if test="bridgeSupervisePhone != null">
				#{bridgeSupervisePhone,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				#{lastUpdateDate,jdbcType=DATE},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ande.bridge.admin.model.BridgeManageEntity">

		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->

		update t_bridge_manage
		<set>
			<if test="bridgeCode != null">
				bridge_code = #{bridgeCode,jdbcType=VARCHAR},
			</if>
			<if test="bridgeDesignDataNum != null">
				bridge_design_data_num =
				#{bridgeDesignDataNum,jdbcType=VARCHAR},
			</if>
			<if test="bridgeCompletionDataNum != null">
				bridge_completion_data_num =
				#{bridgeCompletionDataNum,jdbcType=VARCHAR},
			</if>
			<if test="bridgeMaintenanceDataNum != null">
				bridge_maintenance_data_num =
				#{bridgeMaintenanceDataNum,jdbcType=VARCHAR},
			</if>
			<if test="bridgeKeeper != null">
				bridge_keeper = #{bridgeKeeper,jdbcType=VARCHAR},
			</if>
			<if test="trafficControlMeasures != null">
				traffic_control_measures =
				#{trafficControlMeasures,jdbcType=VARCHAR},
			</if>
			<if test="assessdLastThreeYears != null">
				assessd_last_three_years =
				#{assessdLastThreeYears,jdbcType=VARCHAR},
			</if>
			<if test="lastRebuildDate != null">
				last_rebuild_date = #{lastRebuildDate,jdbcType=DATE},
			</if>
			<if test="lastRebuildPart != null">
				last_rebuild_part = #{lastRebuildPart,jdbcType=VARCHAR},
			</if>
			<if test="projectNature != null">
				project_nature = #{projectNature,jdbcType=VARCHAR},
			</if>
			<if test="bridgeOwner != null">
				bridge_owner = #{bridgeOwner,jdbcType=VARCHAR},
			</if>
			<if test="bridgeDesigner != null">
				bridge_designer = #{bridgeDesigner,jdbcType=VARCHAR},
			</if>
			<if test="bridgeConstructionSupervisor != null">
				bridge_construction_supervisor =
				#{bridgeConstructionSupervisor,jdbcType=VARCHAR},
			</if>
			<if test="bridgeConstructionDrawings != null">
				bridge_construction_drawings =
				#{bridgeConstructionDrawings,jdbcType=VARCHAR},
			</if>
			<if test="bridgeAcceptanceOpinion != null">
				bridge_acceptance_opinion =
				#{bridgeAcceptanceOpinion,jdbcType=VARCHAR},
			</if>
			<if test="bridgeMaintenancePhone != null">
				bridge_maintenance_phone =
				#{bridgeMaintenancePhone,jdbcType=VARCHAR},
			</if>
			<if test="bridgeManagePhone != null">
				bridge_manage_phone =
				#{bridgeManagePhone,jdbcType=VARCHAR},
			</if>
			<if test="bridgeSuperviseDep != null">
				bridge_supervise_dep =
				#{bridgeSuperviseDep,jdbcType=VARCHAR},
			</if>
			<if test="bridgeSupervisePhone != null">
				bridge_supervise_phone =
				#{bridgeSupervisePhone,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				last_update_date = #{lastUpdateDate,jdbcType=DATE},
			</if>
		</set>
		where bridge_id = #{bridgeId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ande.bridge.admin.model.BridgeManageEntity">

		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->

		update t_bridge_manage
		set bridge_code =
		#{bridgeCode,jdbcType=VARCHAR},
		bridge_design_data_num =
		#{bridgeDesignDataNum,jdbcType=VARCHAR},
		bridge_completion_data_num =
		#{bridgeCompletionDataNum,jdbcType=VARCHAR},
		bridge_maintenance_data_num =
		#{bridgeMaintenanceDataNum,jdbcType=VARCHAR},
		bridge_keeper =
		#{bridgeKeeper,jdbcType=VARCHAR},
		traffic_control_measures =
		#{trafficControlMeasures,jdbcType=VARCHAR},
		assessd_last_three_years =
		#{assessdLastThreeYears,jdbcType=VARCHAR},
		last_rebuild_date =
		#{lastRebuildDate,jdbcType=DATE},
		last_rebuild_part =
		#{lastRebuildPart,jdbcType=VARCHAR},
		project_nature =
		#{projectNature,jdbcType=VARCHAR},
		bridge_owner =
		#{bridgeOwner,jdbcType=VARCHAR},
		bridge_designer =
		#{bridgeDesigner,jdbcType=VARCHAR},
		bridge_construction_supervisor =
		#{bridgeConstructionSupervisor,jdbcType=VARCHAR},
		bridge_construction_drawings =
		#{bridgeConstructionDrawings,jdbcType=VARCHAR},
		bridge_acceptance_opinion =
		#{bridgeAcceptanceOpinion,jdbcType=VARCHAR},
		bridge_maintenance_phone =
		#{bridgeMaintenancePhone,jdbcType=VARCHAR},
		bridge_manage_phone =
		#{bridgeManagePhone,jdbcType=VARCHAR},
		bridge_supervise_dep =
		#{bridgeSuperviseDep,jdbcType=VARCHAR},
		bridge_supervise_phone =
		#{bridgeSupervisePhone,jdbcType=VARCHAR},
		last_update_date =
		#{lastUpdateDate,jdbcType=DATE}
		where bridge_id =
		#{bridgeId,jdbcType=INTEGER}
	</update>
</mapper>