<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ande.bridge.admin.dao.BridgeBaseMapper">
	<resultMap id="BaseResultMap" type="com.ande.bridge.admin.model.BridgeBaseEntity">
		<id column="bridge_id" property="bridgeId" jdbcType="INTEGER" />
		<result column="bridge_code" property="bridgeCode" jdbcType="VARCHAR" />
		<result column="minor_road" property="minorRoad" jdbcType="VARCHAR" />
		<result column="bridge_serial_number" property="bridgeSerialNumber"
			jdbcType="VARCHAR" />
		<result column="bridge_manage_maintenance_dep" property="bridgeManageMaintenanceDep"
			jdbcType="VARCHAR" />
		<result column="bridge_span_type" property="bridgeSpanType"
			jdbcType="VARCHAR" />
		<result column="bridge_span_name" property="bridgeSpanName"
			jdbcType="VARCHAR" />
		<result column="bridge_construction_milestone" property="bridgeConstructionMilestone"
			jdbcType="REAL" />
		<result column="bridge_property" property="bridgeProperty"
			jdbcType="VARCHAR" />
		<result column="bridge_now_load_level" property="bridgeNowLoadLevel"
			jdbcType="VARCHAR" />
		<result column="bridge_superstructure_type" property="bridgeSuperstructureType"
			jdbcType="VARCHAR" />
		<result column="bridge_pier_type" property="bridgePierType"
			jdbcType="VARCHAR" />
		<result column="bridge_abutment_type" property="bridgeAbutmentType"
			jdbcType="VARCHAR" />
		<result column="bridge_support_type" property="bridgeSupportType"
			jdbcType="VARCHAR" />
		<result column="bridge_pier_pile_type" property="bridgePierPileType"
			jdbcType="VARCHAR" />
		<result column="bridge_abutment_pile_type" property="bridgeAbutmentPileType"
			jdbcType="VARCHAR" />
		<result column="bridge_deck_type" property="bridgeDeckType"
			jdbcType="VARCHAR" />
		<result column="bridge_joint_type" property="bridgeJointType"
			jdbcType="VARCHAR" />
		<result column="bridge_purpose" property="bridgePurpose"
			jdbcType="VARCHAR" />
		<result column="bridge_state" property="bridgeState" jdbcType="VARCHAR" />
		<result column="multimedia_data" property="multimediaData"
			jdbcType="VARCHAR" />
		<result column="administrative_level" property="administrativeLevel"
			jdbcType="VARCHAR" />
		<result column="bridge_township" property="bridgeTownship"
			jdbcType="VARCHAR" />
		<result column="bridge_mother_code" property="bridgeMotherCode"
			jdbcType="VARCHAR" />
		<result column="bridge_manage_code" property="bridgeManageCode"
			jdbcType="VARCHAR" />
		<result column="bridge_principal" property="bridgePrincipal"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		bridge_id, bridge_code, minor_road, bridge_serial_number,
		bridge_manage_maintenance_dep,
		bridge_span_type, bridge_span_name,
		bridge_construction_milestone, bridge_property,
		bridge_now_load_level,
		bridge_superstructure_type, bridge_pier_type,
		bridge_abutment_type,
		bridge_support_type, bridge_pier_pile_type, bridge_abutment_pile_type,
		bridge_deck_type,
		bridge_joint_type, bridge_purpose, bridge_state,
		multimedia_data,
		administrative_level,
		bridge_township,
		bridge_mother_code, bridge_manage_code, bridge_principal
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		select
		<include refid="Base_Column_List" />
		from t_bridge_base
		where bridge_id = #{bridgeId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		delete from t_bridge_base
		where bridge_id =
		#{bridgeId,jdbcType=INTEGER}
	</delete>
	
	
	
	
	
	<insert id="insert" parameterType="com.ande.bridge.admin.model.BridgeBaseEntity" useGeneratedKeys="true" keyProperty="bridgeId">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		insert into t_bridge_base ( bridge_code, minor_road,
		bridge_serial_number, bridge_manage_maintenance_dep,
		bridge_span_type,
		bridge_span_name, bridge_construction_milestone,
		bridge_property,
		bridge_now_load_level, bridge_superstructure_type,
		bridge_pier_type,
		bridge_abutment_type, bridge_support_type,
		bridge_pier_pile_type,
		bridge_abutment_pile_type,
		bridge_deck_type, bridge_joint_type,
		bridge_purpose,
		bridge_state, multimedia_data, administrative_level,
		bridge_township, bridge_mother_code, bridge_manage_code,
		bridge_principal)
		values (
		#{bridgeCode,jdbcType=VARCHAR},
		#{minorRoad,jdbcType=VARCHAR},
		#{bridgeSerialNumber,jdbcType=VARCHAR},
		#{bridgeManageMaintenanceDep,jdbcType=VARCHAR},
		#{bridgeSpanType,jdbcType=VARCHAR},
		#{bridgeSpanName,jdbcType=VARCHAR},
		#{bridgeConstructionMilestone,jdbcType=REAL},
		#{bridgeProperty,jdbcType=VARCHAR},
		#{bridgeNowLoadLevel,jdbcType=VARCHAR},
		#{bridgeSuperstructureType,jdbcType=VARCHAR},
		#{bridgePierType,jdbcType=VARCHAR},
		#{bridgeAbutmentType,jdbcType=VARCHAR},
		#{bridgeSupportType,jdbcType=VARCHAR},
		#{bridgePierPileType,jdbcType=VARCHAR},
		#{bridgeAbutmentPileType,jdbcType=VARCHAR},
		#{bridgeDeckType,jdbcType=VARCHAR},
		#{bridgeJointType,jdbcType=VARCHAR},
		#{bridgePurpose,jdbcType=VARCHAR},
		#{bridgeState,jdbcType=VARCHAR},
		#{multimediaData,jdbcType=VARCHAR},
		#{administrativeLevel,jdbcType=VARCHAR},
		#{bridgeTownship,jdbcType=VARCHAR},
		#{bridgeMotherCode,jdbcType=VARCHAR},
		#{bridgeManageCode,jdbcType=VARCHAR},
		#{bridgePrincipal,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.ande.bridge.admin.model.BridgeBaseEntity" useGeneratedKeys="true" keyProperty="bridgeId">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		insert into t_bridge_base
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bridgeId != null">
				bridge_id,
			</if>
			<if test="bridgeCode != null">
				bridge_code,
			</if>
			<if test="minorRoad != null">
				minor_road,
			</if>
			<if test="bridgeSerialNumber != null">
				bridge_serial_number,
			</if>
			<if test="bridgeManageMaintenanceDep != null">
				bridge_manage_maintenance_dep,
			</if>
			<if test="bridgeSpanType != null">
				bridge_span_type,
			</if>
			<if test="bridgeSpanName != null">
				bridge_span_name,
			</if>
			<if test="bridgeConstructionMilestone != null">
				bridge_construction_milestone,
			</if>
			<if test="bridgeProperty != null">
				bridge_property,
			</if>
			<if test="bridgeNowLoadLevel != null">
				bridge_now_load_level,
			</if>
			<if test="bridgeSuperstructureType != null">
				bridge_superstructure_type,
			</if>
			<if test="bridgePierType != null">
				bridge_pier_type,
			</if>
			<if test="bridgeAbutmentType != null">
				bridge_abutment_type,
			</if>
			<if test="bridgeSupportType != null">
				bridge_support_type,
			</if>
			<if test="bridgePierPileType != null">
				bridge_pier_pile_type,
			</if>
			<if test="bridgeAbutmentPileType != null">
				bridge_abutment_pile_type,
			</if>
			<if test="bridgeDeckType != null">
				bridge_deck_type,
			</if>
			<if test="bridgeJointType != null">
				bridge_joint_type,
			</if>
			<if test="bridgePurpose != null">
				bridge_purpose,
			</if>
			<if test="bridgeState != null">
				bridge_state,
			</if>
			<if test="multimediaData != null">
				multimedia_data,
			</if>
			<if test="administrativeLevel != null">
				administrative_level,
			</if>
			<if test="bridgeTownship != null">
				bridge_township,
			</if>
			<if test="bridgeMotherCode != null">
				bridge_mother_code,
			</if>
			<if test="bridgeManageCode != null">
				bridge_manage_code,
			</if>
			<if test="bridgePrincipal != null">
				bridge_principal,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bridgeId != null">
				#{bridgeId,jdbcType=INTEGER},
			</if>
			<if test="bridgeCode != null">
				#{bridgeCode,jdbcType=VARCHAR},
			</if>
			<if test="minorRoad != null">
				#{minorRoad,jdbcType=VARCHAR},
			</if>
			<if test="bridgeSerialNumber != null">
				#{bridgeSerialNumber,jdbcType=VARCHAR},
			</if>
			<if test="bridgeManageMaintenanceDep != null">
				#{bridgeManageMaintenanceDep,jdbcType=VARCHAR},
			</if>
			<if test="bridgeSpanType != null">
				#{bridgeSpanType,jdbcType=VARCHAR},
			</if>
			<if test="bridgeSpanName != null">
				#{bridgeSpanName,jdbcType=VARCHAR},
			</if>
			<if test="bridgeConstructionMilestone != null">
				#{bridgeConstructionMilestone,jdbcType=REAL},
			</if>
			<if test="bridgeProperty != null">
				#{bridgeProperty,jdbcType=VARCHAR},
			</if>
			<if test="bridgeNowLoadLevel != null">
				#{bridgeNowLoadLevel,jdbcType=VARCHAR},
			</if>
			<if test="bridgeSuperstructureType != null">
				#{bridgeSuperstructureType,jdbcType=VARCHAR},
			</if>
			<if test="bridgePierType != null">
				#{bridgePierType,jdbcType=VARCHAR},
			</if>
			<if test="bridgeAbutmentType != null">
				#{bridgeAbutmentType,jdbcType=VARCHAR},
			</if>
			<if test="bridgeSupportType != null">
				#{bridgeSupportType,jdbcType=VARCHAR},
			</if>
			<if test="bridgePierPileType != null">
				#{bridgePierPileType,jdbcType=VARCHAR},
			</if>
			<if test="bridgeAbutmentPileType != null">
				#{bridgeAbutmentPileType,jdbcType=VARCHAR},
			</if>
			<if test="bridgeDeckType != null">
				#{bridgeDeckType,jdbcType=VARCHAR},
			</if>
			<if test="bridgeJointType != null">
				#{bridgeJointType,jdbcType=VARCHAR},
			</if>
			<if test="bridgePurpose != null">
				#{bridgePurpose,jdbcType=VARCHAR},
			</if>
			<if test="bridgeState != null">
				#{bridgeState,jdbcType=VARCHAR},
			</if>
			<if test="multimediaData != null">
				#{multimediaData,jdbcType=VARCHAR},
			</if>
			<if test="administrativeLevel != null">
				#{administrativeLevel,jdbcType=VARCHAR},
			</if>
			<if test="bridgeTownship != null">
				#{bridgeTownship,jdbcType=VARCHAR},
			</if>
			<if test="bridgeMotherCode != null">
				#{bridgeMotherCode,jdbcType=VARCHAR},
			</if>
			<if test="bridgeManageCode != null">
				#{bridgeManageCode,jdbcType=VARCHAR},
			</if>
			<if test="bridgePrincipal != null">
				#{bridgePrincipal,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>


	<update id="updateByPrimaryKeySelective" parameterType="com.ande.bridge.admin.model.BridgeBaseEntity">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		update t_bridge_base
		<set>
			<if test="bridgeCode != null">
				bridge_code = #{bridgeCode,jdbcType=VARCHAR},
			</if>
			<if test="minorRoad != null">
				minor_road = #{minorRoad,jdbcType=VARCHAR},
			</if>
			<if test="bridgeSerialNumber != null">
				bridge_serial_number =
				#{bridgeSerialNumber,jdbcType=VARCHAR},
			</if>
			<if test="bridgeManageMaintenanceDep != null">
				bridge_manage_maintenance_dep =
				#{bridgeManageMaintenanceDep,jdbcType=VARCHAR},
			</if>
			<if test="bridgeSpanType != null">
				bridge_span_type = #{bridgeSpanType,jdbcType=VARCHAR},
			</if>
			<if test="bridgeSpanName != null">
				bridge_span_name = #{bridgeSpanName,jdbcType=VARCHAR},
			</if>
			<if test="bridgeConstructionMilestone != null">
				bridge_construction_milestone =
				#{bridgeConstructionMilestone,jdbcType=REAL},
			</if>
			<if test="bridgeProperty != null">
				bridge_property = #{bridgeProperty,jdbcType=VARCHAR},
			</if>
			<if test="bridgeNowLoadLevel != null">
				bridge_now_load_level =
				#{bridgeNowLoadLevel,jdbcType=VARCHAR},
			</if>
			<if test="bridgeSuperstructureType != null">
				bridge_superstructure_type =
				#{bridgeSuperstructureType,jdbcType=VARCHAR},
			</if>
			<if test="bridgePierType != null">
				bridge_pier_type = #{bridgePierType,jdbcType=VARCHAR},
			</if>
			<if test="bridgeAbutmentType != null">
				bridge_abutment_type =
				#{bridgeAbutmentType,jdbcType=VARCHAR},
			</if>
			<if test="bridgeSupportType != null">
				bridge_support_type =
				#{bridgeSupportType,jdbcType=VARCHAR},
			</if>
			<if test="bridgePierPileType != null">
				bridge_pier_pile_type =
				#{bridgePierPileType,jdbcType=VARCHAR},
			</if>
			<if test="bridgeAbutmentPileType != null">
				bridge_abutment_pile_type =
				#{bridgeAbutmentPileType,jdbcType=VARCHAR},
			</if>
			<if test="bridgeDeckType != null">
				bridge_deck_type = #{bridgeDeckType,jdbcType=VARCHAR},
			</if>
			<if test="bridgeJointType != null">
				bridge_joint_type = #{bridgeJointType,jdbcType=VARCHAR},
			</if>
			<if test="bridgePurpose != null">
				bridge_purpose = #{bridgePurpose,jdbcType=VARCHAR},
			</if>
			<if test="bridgeState != null">
				bridge_state = #{bridgeState,jdbcType=VARCHAR},
			</if>
			<if test="multimediaData != null">
				multimedia_data = #{multimediaData,jdbcType=VARCHAR},
			</if>
			<if test="administrativeLevel != null">
				administrative_level =
				#{administrativeLevel,jdbcType=VARCHAR},
			</if>
			<if test="bridgeTownship != null">
				bridge_township = #{bridgeTownship,jdbcType=VARCHAR},
			</if>
			<if test="bridgeMotherCode != null">
				bridge_mother_code =
				#{bridgeMotherCode,jdbcType=VARCHAR},
			</if>
			<if test="bridgeManageCode != null">
				bridge_manage_code =
				#{bridgeManageCode,jdbcType=VARCHAR},
			</if>
			<if test="bridgePrincipal != null">
				bridge_principal = #{bridgePrincipal,jdbcType=VARCHAR},
			</if>
		</set>
		where bridge_id = #{bridgeId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ande.bridge.admin.model.BridgeBaseEntity">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		update t_bridge_base
		set bridge_code = #{bridgeCode,jdbcType=VARCHAR},
		minor_road = #{minorRoad,jdbcType=VARCHAR},
		bridge_serial_number =
		#{bridgeSerialNumber,jdbcType=VARCHAR},
		bridge_manage_maintenance_dep =
		#{bridgeManageMaintenanceDep,jdbcType=VARCHAR},
		bridge_span_type =
		#{bridgeSpanType,jdbcType=VARCHAR},
		bridge_span_name =
		#{bridgeSpanName,jdbcType=VARCHAR},
		bridge_construction_milestone =
		#{bridgeConstructionMilestone,jdbcType=REAL},
		bridge_property =
		#{bridgeProperty,jdbcType=VARCHAR},
		bridge_now_load_level =
		#{bridgeNowLoadLevel,jdbcType=VARCHAR},
		bridge_superstructure_type =
		#{bridgeSuperstructureType,jdbcType=VARCHAR},
		bridge_pier_type =
		#{bridgePierType,jdbcType=VARCHAR},
		bridge_abutment_type =
		#{bridgeAbutmentType,jdbcType=VARCHAR},
		bridge_support_type =
		#{bridgeSupportType,jdbcType=VARCHAR},
		bridge_pier_pile_type =
		#{bridgePierPileType,jdbcType=VARCHAR},
		bridge_abutment_pile_type =
		#{bridgeAbutmentPileType,jdbcType=VARCHAR},
		bridge_deck_type =
		#{bridgeDeckType,jdbcType=VARCHAR},
		bridge_joint_type =
		#{bridgeJointType,jdbcType=VARCHAR},
		bridge_purpose =
		#{bridgePurpose,jdbcType=VARCHAR},
		bridge_state =
		#{bridgeState,jdbcType=VARCHAR},
		multimedia_data =
		#{multimediaData,jdbcType=VARCHAR},
		administrative_level =
		#{administrativeLevel,jdbcType=VARCHAR},
		bridge_township =
		#{bridgeTownship,jdbcType=VARCHAR},
		bridge_mother_code =
		#{bridgeMotherCode,jdbcType=VARCHAR},
		bridge_manage_code =
		#{bridgeManageCode,jdbcType=VARCHAR},
		bridge_principal =
		#{bridgePrincipal,jdbcType=VARCHAR}
		where bridge_id =
		#{bridgeId,jdbcType=INTEGER}
	</update>
</mapper>