<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ande.bridge.admin.dao.BridgeStructureMapper">
	<resultMap id="BaseResultMap"
		type="com.ande.bridge.admin.model.BridgeStructureEntity">
		<id column="bridge_id" property="bridgeId" jdbcType="INTEGER" />
		<result column="manage_object_id" property="manageObjectId"
			jdbcType="INTEGER" />
		<result column="bridge_status" property="bridgeStatus"
			jdbcType="VARCHAR" />
		<result column="bridge_code" property="bridgeCode" jdbcType="VARCHAR" />
		<result column="bridge_total_span" property="bridgeTotalSpan"
			jdbcType="REAL" />
		<result column="is_wideroad_narrowbridge" property="isWideroadNarrowbridge"
			jdbcType="VARCHAR" />
		<result column="bridge_span_combination" property="bridgeSpanCombination"
			jdbcType="VARCHAR" />
		<result column="bridge_rebuild_date" property="bridgeRebuildDate"
			jdbcType="DATE" />
		<result column="navigation_level" property="navigationLevel"
			jdbcType="VARCHAR" />
		<result column="bridge_max_headroom" property="bridgeMaxHeadroom"
			jdbcType="REAL" />
		<result column="bridge_height" property="bridgeHeight"
			jdbcType="REAL" />
		<result column="bridge_vertical_height" property="bridgeVerticalHeight"
			jdbcType="REAL" />
		<result column="bridge_midspan_height" property="bridgeMidspanHeight"
			jdbcType="REAL" />
		<result column="bridge_width_conbination" property="bridgeWidthConbination"
			jdbcType="VARCHAR" />
		<result column="bridge_overall_width" property="bridgeOverallWidth"
			jdbcType="REAL" />
		<result column="bridge_horizontal_radius" property="bridgeHorizontalRadius"
			jdbcType="REAL" />
		<result column="bridge_head_width" property="bridgeHeadWidth"
			jdbcType="REAL" />
		<result column="bridge_rise_span_ratio" property="bridgeRiseSpanRatio"
			jdbcType="VARCHAR" />
		<result column="bridge_longitudinal_slope" property="bridgeLongitudinalSlope"
			jdbcType="VARCHAR" />
		<result column="bridge_linetype" property="bridgeLinetype"
			jdbcType="VARCHAR" />
		<result column="bridge_grade_separation" property="bridgeGradeSeparation"
			jdbcType="VARCHAR" />
		<result column="bridge_intersect" property="bridgeIntersect"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		bridge_id,
		manage_object_id, bridge_status,
		bridge_code,
		bridge_total_span,
		is_wideroad_narrowbridge,
		bridge_span_combination,
		bridge_rebuild_date,
		navigation_level,
		bridge_max_headroom,
		bridge_height,
		bridge_vertical_height,
		bridge_midspan_height,
		bridge_width_conbination,
		bridge_overall_width,
		bridge_horizontal_radius, bridge_head_width, bridge_rise_span_ratio,
		bridge_longitudinal_slope, bridge_linetype, bridge_grade_separation,
		bridge_intersect
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		select
		<include refid="Base_Column_List" />
		from t_bridge_structure
		where bridge_id = #{bridgeId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		delete from t_bridge_structure
		where
		bridge_id
		=
		#{bridgeId,jdbcType=INTEGER}
	</delete>


	<insert id="insertListEntity" parameterType="java.util.List" useGeneratedKeys="true">
		insert into t_bridge_structure (bridge_id, manage_object_id,
		bridge_status,
		bridge_code, bridge_total_span,
		is_wideroad_narrowbridge,
		bridge_span_combination, bridge_rebuild_date,
		navigation_level, bridge_max_headroom, bridge_height,
		bridge_vertical_height, bridge_midspan_height,
		bridge_width_conbination,
		bridge_overall_width,
		bridge_horizontal_radius, bridge_head_width,
		bridge_rise_span_ratio,
		bridge_longitudinal_slope,
		bridge_linetype, bridge_grade_separation,
		bridge_intersect)
		values
		<foreach collection="list" item="item" separator=",">
			(#{item.bridgeId,jdbcType=INTEGER},
			#{item.manageObjectId,jdbcType=INTEGER},
			#{item.bridgeStatus,jdbcType=VARCHAR},
			#{item.bridgeCode,jdbcType=VARCHAR},
			#{item.bridgeTotalSpan,jdbcType=REAL},
			#{item.isWideroadNarrowbridge,jdbcType=VARCHAR},
			#{item.bridgeSpanCombination,jdbcType=VARCHAR},
			#{item.bridgeRebuildDate,jdbcType=DATE},
			#{item.navigationLevel,jdbcType=VARCHAR},
			#{item.bridgeMaxHeadroom,jdbcType=REAL},
			#{item.bridgeHeight,jdbcType=REAL},
			#{item.bridgeVerticalHeight,jdbcType=REAL},
			#{item.bridgeMidspanHeight,jdbcType=REAL},
			#{item.bridgeWidthConbination,jdbcType=VARCHAR},
			#{item.bridgeOverallWidth,jdbcType=REAL},
			#{item.bridgeHorizontalRadius,jdbcType=REAL},
			#{item.bridgeHeadWidth,jdbcType=REAL},
			#{item.bridgeRiseSpanRatio,jdbcType=VARCHAR},
			#{item.bridgeLongitudinalSlope,jdbcType=VARCHAR},
			#{item.bridgeLinetype,jdbcType=VARCHAR},
			#{item.bridgeGradeSeparation,jdbcType=VARCHAR},
			#{item.bridgeIntersect,jdbcType=VARCHAR})
		</foreach>
	</insert>
	<insert id="insert" parameterType="com.ande.bridge.admin.model.BridgeStructureEntity">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		insert into t_bridge_structure (bridge_id,
		manage_object_id,
		bridge_status,
		bridge_code, bridge_total_span,
		is_wideroad_narrowbridge,
		bridge_span_combination, bridge_rebuild_date,
		navigation_level, bridge_max_headroom, bridge_height,
		bridge_vertical_height, bridge_midspan_height,
		bridge_width_conbination,
		bridge_overall_width,
		bridge_horizontal_radius, bridge_head_width,
		bridge_rise_span_ratio,
		bridge_longitudinal_slope,
		bridge_linetype, bridge_grade_separation,
		bridge_intersect)
		values (#{bridgeId,jdbcType=INTEGER},
		#{manageObjectId,jdbcType=INTEGER},
		#{bridgeStatus,jdbcType=VARCHAR},
		#{bridgeCode,jdbcType=VARCHAR}, #{bridgeTotalSpan,jdbcType=REAL},
		#{isWideroadNarrowbridge,jdbcType=VARCHAR},
		#{bridgeSpanCombination,jdbcType=VARCHAR},
		#{bridgeRebuildDate,jdbcType=DATE},
		#{navigationLevel,jdbcType=VARCHAR},
		#{bridgeMaxHeadroom,jdbcType=REAL}, #{bridgeHeight,jdbcType=REAL},
		#{bridgeVerticalHeight,jdbcType=REAL},
		#{bridgeMidspanHeight,jdbcType=REAL},
		#{bridgeWidthConbination,jdbcType=VARCHAR},
		#{bridgeOverallWidth,jdbcType=REAL},
		#{bridgeHorizontalRadius,jdbcType=REAL},
		#{bridgeHeadWidth,jdbcType=REAL},
		#{bridgeRiseSpanRatio,jdbcType=VARCHAR},
		#{bridgeLongitudinalSlope,jdbcType=VARCHAR},
		#{bridgeLinetype,jdbcType=VARCHAR},
		#{bridgeGradeSeparation,jdbcType=VARCHAR},
		#{bridgeIntersect,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.ande.bridge.admin.model.BridgeStructureEntity">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		insert into t_bridge_structure
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bridgeId != null">
				bridge_id,
			</if>
			<if test="manageObjectId != null">
				manage_object_id,
			</if>
			<if test="bridgeStatus != null">
				bridge_status,
			</if>
			<if test="bridgeCode != null">
				bridge_code,
			</if>
			<if test="bridgeTotalSpan != null">
				bridge_total_span,
			</if>
			<if test="isWideroadNarrowbridge != null">
				is_wideroad_narrowbridge,
			</if>
			<if test="bridgeSpanCombination != null">
				bridge_span_combination,
			</if>
			<if test="bridgeRebuildDate != null">
				bridge_rebuild_date,
			</if>
			<if test="navigationLevel != null">
				navigation_level,
			</if>
			<if test="bridgeMaxHeadroom != null">
				bridge_max_headroom,
			</if>
			<if test="bridgeHeight != null">
				bridge_height,
			</if>
			<if test="bridgeVerticalHeight != null">
				bridge_vertical_height,
			</if>
			<if test="bridgeMidspanHeight != null">
				bridge_midspan_height,
			</if>
			<if test="bridgeWidthConbination != null">
				bridge_width_conbination,
			</if>
			<if test="bridgeOverallWidth != null">
				bridge_overall_width,
			</if>
			<if test="bridgeHorizontalRadius != null">
				bridge_horizontal_radius,
			</if>
			<if test="bridgeHeadWidth != null">
				bridge_head_width,
			</if>
			<if test="bridgeRiseSpanRatio != null">
				bridge_rise_span_ratio,
			</if>
			<if test="bridgeLongitudinalSlope != null">
				bridge_longitudinal_slope,
			</if>
			<if test="bridgeLinetype != null">
				bridge_linetype,
			</if>
			<if test="bridgeGradeSeparation != null">
				bridge_grade_separation,
			</if>
			<if test="bridgeIntersect != null">
				bridge_intersect,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bridgeId != null">
				#{bridgeId,jdbcType=INTEGER},
			</if>
			<if test="manageObjectId != null">
				#{manageObjectId,jdbcType=INTEGER},
			</if>
			<if test="bridgeStatus != null">
				#{bridgeStatus,jdbcType=VARCHAR},
			</if>
			<if test="bridgeCode != null">
				#{bridgeCode,jdbcType=VARCHAR},
			</if>
			<if test="bridgeTotalSpan != null">
				#{bridgeTotalSpan,jdbcType=REAL},
			</if>
			<if test="isWideroadNarrowbridge != null">
				#{isWideroadNarrowbridge,jdbcType=VARCHAR},
			</if>
			<if test="bridgeSpanCombination != null">
				#{bridgeSpanCombination,jdbcType=VARCHAR},
			</if>
			<if test="bridgeRebuildDate != null">
				#{bridgeRebuildDate,jdbcType=DATE},
			</if>
			<if test="navigationLevel != null">
				#{navigationLevel,jdbcType=VARCHAR},
			</if>
			<if test="bridgeMaxHeadroom != null">
				#{bridgeMaxHeadroom,jdbcType=REAL},
			</if>
			<if test="bridgeHeight != null">
				#{bridgeHeight,jdbcType=REAL},
			</if>
			<if test="bridgeVerticalHeight != null">
				#{bridgeVerticalHeight,jdbcType=REAL},
			</if>
			<if test="bridgeMidspanHeight != null">
				#{bridgeMidspanHeight,jdbcType=REAL},
			</if>
			<if test="bridgeWidthConbination != null">
				#{bridgeWidthConbination,jdbcType=VARCHAR},
			</if>
			<if test="bridgeOverallWidth != null">
				#{bridgeOverallWidth,jdbcType=REAL},
			</if>
			<if test="bridgeHorizontalRadius != null">
				#{bridgeHorizontalRadius,jdbcType=REAL},
			</if>
			<if test="bridgeHeadWidth != null">
				#{bridgeHeadWidth,jdbcType=REAL},
			</if>
			<if test="bridgeRiseSpanRatio != null">
				#{bridgeRiseSpanRatio,jdbcType=VARCHAR},
			</if>
			<if test="bridgeLongitudinalSlope != null">
				#{bridgeLongitudinalSlope,jdbcType=VARCHAR},
			</if>
			<if test="bridgeLinetype != null">
				#{bridgeLinetype,jdbcType=VARCHAR},
			</if>
			<if test="bridgeGradeSeparation != null">
				#{bridgeGradeSeparation,jdbcType=VARCHAR},
			</if>
			<if test="bridgeIntersect != null">
				#{bridgeIntersect,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ande.bridge.admin.model.BridgeStructureEntity">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		update t_bridge_structure
		<set>
			<if test="manageObjectId != null">
				manage_object_id = #{manageObjectId,jdbcType=INTEGER},
			</if>
			<if test="bridgeStatus != null">
				bridge_status = #{bridgeStatus,jdbcType=VARCHAR},
			</if>
			<if test="bridgeCode != null">
				bridge_code = #{bridgeCode,jdbcType=VARCHAR},
			</if>
			<if test="bridgeTotalSpan != null">
				bridge_total_span = #{bridgeTotalSpan,jdbcType=REAL},
			</if>
			<if test="isWideroadNarrowbridge != null">
				is_wideroad_narrowbridge =
				#{isWideroadNarrowbridge,jdbcType=VARCHAR},
			</if>
			<if test="bridgeSpanCombination != null">
				bridge_span_combination =
				#{bridgeSpanCombination,jdbcType=VARCHAR},
			</if>
			<if test="bridgeRebuildDate != null">
				bridge_rebuild_date = #{bridgeRebuildDate,jdbcType=DATE},
			</if>
			<if test="navigationLevel != null">
				navigation_level = #{navigationLevel,jdbcType=VARCHAR},
			</if>
			<if test="bridgeMaxHeadroom != null">
				bridge_max_headroom = #{bridgeMaxHeadroom,jdbcType=REAL},
			</if>
			<if test="bridgeHeight != null">
				bridge_height = #{bridgeHeight,jdbcType=REAL},
			</if>
			<if test="bridgeVerticalHeight != null">
				bridge_vertical_height =
				#{bridgeVerticalHeight,jdbcType=REAL},
			</if>
			<if test="bridgeMidspanHeight != null">
				bridge_midspan_height =
				#{bridgeMidspanHeight,jdbcType=REAL},
			</if>
			<if test="bridgeWidthConbination != null">
				bridge_width_conbination =
				#{bridgeWidthConbination,jdbcType=VARCHAR},
			</if>
			<if test="bridgeOverallWidth != null">
				bridge_overall_width =
				#{bridgeOverallWidth,jdbcType=REAL},
			</if>
			<if test="bridgeHorizontalRadius != null">
				bridge_horizontal_radius =
				#{bridgeHorizontalRadius,jdbcType=REAL},
			</if>
			<if test="bridgeHeadWidth != null">
				bridge_head_width = #{bridgeHeadWidth,jdbcType=REAL},
			</if>
			<if test="bridgeRiseSpanRatio != null">
				bridge_rise_span_ratio =
				#{bridgeRiseSpanRatio,jdbcType=VARCHAR},
			</if>
			<if test="bridgeLongitudinalSlope != null">
				bridge_longitudinal_slope =
				#{bridgeLongitudinalSlope,jdbcType=VARCHAR},
			</if>
			<if test="bridgeLinetype != null">
				bridge_linetype = #{bridgeLinetype,jdbcType=VARCHAR},
			</if>
			<if test="bridgeGradeSeparation != null">
				bridge_grade_separation =
				#{bridgeGradeSeparation,jdbcType=VARCHAR},
			</if>
			<if test="bridgeIntersect != null">
				bridge_intersect = #{bridgeIntersect,jdbcType=VARCHAR},
			</if>
		</set>
		where bridge_id = #{bridgeId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ande.bridge.admin.model.BridgeStructureEntity">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		update t_bridge_structure
		set
		manage_object_id
		=
		#{manageObjectId,jdbcType=INTEGER},
		bridge_status =
		#{bridgeStatus,jdbcType=VARCHAR},
		bridge_code =
		#{bridgeCode,jdbcType=VARCHAR},
		bridge_total_span =
		#{bridgeTotalSpan,jdbcType=REAL},
		is_wideroad_narrowbridge =
		#{isWideroadNarrowbridge,jdbcType=VARCHAR},
		bridge_span_combination =
		#{bridgeSpanCombination,jdbcType=VARCHAR},
		bridge_rebuild_date =
		#{bridgeRebuildDate,jdbcType=DATE},
		navigation_level =
		#{navigationLevel,jdbcType=VARCHAR},
		bridge_max_headroom =
		#{bridgeMaxHeadroom,jdbcType=REAL},
		bridge_height =
		#{bridgeHeight,jdbcType=REAL},
		bridge_vertical_height =
		#{bridgeVerticalHeight,jdbcType=REAL},
		bridge_midspan_height =
		#{bridgeMidspanHeight,jdbcType=REAL},
		bridge_width_conbination =
		#{bridgeWidthConbination,jdbcType=VARCHAR},
		bridge_overall_width =
		#{bridgeOverallWidth,jdbcType=REAL},
		bridge_horizontal_radius =
		#{bridgeHorizontalRadius,jdbcType=REAL},
		bridge_head_width =
		#{bridgeHeadWidth,jdbcType=REAL},
		bridge_rise_span_ratio =
		#{bridgeRiseSpanRatio,jdbcType=VARCHAR},
		bridge_longitudinal_slope =
		#{bridgeLongitudinalSlope,jdbcType=VARCHAR},
		bridge_linetype =
		#{bridgeLinetype,jdbcType=VARCHAR},
		bridge_grade_separation =
		#{bridgeGradeSeparation,jdbcType=VARCHAR},
		bridge_intersect =
		#{bridgeIntersect,jdbcType=VARCHAR}
		where bridge_id =
		#{bridgeId,jdbcType=INTEGER}
	</update>
</mapper>