<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ande.bridge.admin.dao.BridgeMainMapper">
	<resultMap id="BaseResultMap" type="com.ande.bridge.admin.model.BridgeMainEntity">

		<id column="bridge_id" property="bridgeId" jdbcType="INTEGER" />
		<result column="manage_object_id" property="manageObjectId"
			jdbcType="INTEGER" />
		<result column="bridge_status" property="bridgeStatus"
			jdbcType="VARCHAR" />
		<result column="bridge_code" property="bridgeCode" jdbcType="VARCHAR" />
		<result column="bridge_name" property="bridgeName" jdbcType="VARCHAR" />
		<result column="road_number" property="roadNumber" jdbcType="VARCHAR" />
		<result column="road_name" property="roadName" jdbcType="VARCHAR" />
		<result column="road_type" property="roadType" jdbcType="VARCHAR" />
		<result column="bridge_location" property="bridgeLocation"
			jdbcType="VARCHAR" />
		<result column="bridge_center_milestone" property="bridgeCenterMilestone"
			jdbcType="REAL" />
		<result column="bridge_type" property="bridgeType" jdbcType="VARCHAR" />
		<result column="bridge_classification" property="bridgeClassification"
			jdbcType="VARCHAR" />
		<result column="highway_level" property="highwayLevel"
			jdbcType="VARCHAR" />
		<result column="desigin_load_level" property="desiginLoadLevel"
			jdbcType="VARCHAR" />
		<result column="bridge_length" property="bridgeLength"
			jdbcType="REAL" />
		<result column="bridge_clear_width" property="bridgeClearWidth"
			jdbcType="REAL" />
		<result column="bridge_max_span" property="bridgeMaxSpan"
			jdbcType="REAL" />
		<result column="bridge_maintenance" property="bridgeMaintenance"
			jdbcType="VARCHAR" />
		<result column="bridge_manager" property="bridgeManager"
			jdbcType="VARCHAR" />
		<result column="bridge_create_date" property="bridgeCreateDate"
			jdbcType="DATE" />
		<result column="bridge_design_department" property="bridgeDesignDepartment"
			jdbcType="VARCHAR" />
		<result column="bridge_practice_department" property="bridgePracticeDepartment"
			jdbcType="VARCHAR" />
		<result column="bridge_supervise_department" property="bridgeSuperviseDepartment"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">

		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->

		bridge_id,
		manage_object_id, bridge_status, bridge_code, bridge_name,
		road_number,
		road_name, road_type, bridge_location,
		bridge_center_milestone, bridge_type,
		bridge_classification,
		highway_level, desigin_load_level, bridge_length, bridge_clear_width,
		bridge_max_span,
		bridge_maintenance, bridge_manager,
		bridge_create_date, bridge_design_department,
		bridge_practice_department, bridge_supervise_department
	</sql>
	<!-- 根据桥梁代码查询桥梁ID -->
	<select id="selectIDByCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">

		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->

		select
		bridge_id
		from t_bridge_main
		where bridge_code = #{bridgeCode,jdbcType=VARCHAR}
	</select>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">

		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->

		select
		<include refid="Base_Column_List" />
		from t_bridge_main
		where bridge_id = #{bridgeId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">

		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->

		delete from t_bridge_main
		where bridge_id =
		#{bridgeId,jdbcType=INTEGER}
	</delete>

	<insert id="insertListEntity" parameterType="java.util.List" useGeneratedKeys="true">
		insert into t_bridge_main (bridge_id, manage_object_id, bridge_status,
		bridge_code, bridge_name, road_number,
		road_name, road_type,
		bridge_location,
		bridge_center_milestone, bridge_type,
		bridge_classification,
		highway_level, desigin_load_level,
		bridge_length,
		bridge_clear_width, bridge_max_span, bridge_maintenance,
		bridge_manager, bridge_create_date, bridge_design_department,
		bridge_practice_department, bridge_supervise_department
		)
		values
		<foreach collection="list" item="item" separator=",">
			(#{item.bridgeId,jdbcType=INTEGER},
			#{item.manageObjectId,jdbcType=INTEGER},
			#{item.bridgeStatus,jdbcType=VARCHAR},
			#{item.bridgeCode,jdbcType=VARCHAR},
			#{item.bridgeName,jdbcType=VARCHAR},
			#{item.roadNumber,jdbcType=VARCHAR},
			#{item.roadName,jdbcType=VARCHAR}, #{item.roadType,jdbcType=VARCHAR},
			#{item.bridgeLocation,jdbcType=VARCHAR},
			#{item.bridgeCenterMilestone,jdbcType=REAL},
			#{item.bridgeType,jdbcType=VARCHAR},
			#{item.bridgeClassification,jdbcType=VARCHAR},
			#{item.highwayLevel,jdbcType=VARCHAR},
			#{item.desiginLoadLevel,jdbcType=VARCHAR},
			#{item.bridgeLength,jdbcType=REAL},
			#{item.bridgeClearWidth,jdbcType=REAL},
			#{item.bridgeMaxSpan,jdbcType=REAL},
			#{item.bridgeMaintenance,jdbcType=VARCHAR},
			#{item.bridgeManager,jdbcType=VARCHAR},
			#{item.bridgeCreateDate,jdbcType=DATE},
			#{item.bridgeDesignDepartment,jdbcType=VARCHAR},
			#{item.bridgePracticeDepartment,jdbcType=VARCHAR},
			#{item.bridgeSuperviseDepartment,jdbcType=VARCHAR}
			)
		</foreach>
	</insert>

	<insert id="insert" parameterType="com.ande.bridge.admin.model.BridgeMainEntity">

		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->

		insert into t_bridge_main (bridge_id, manage_object_id,
		bridge_status,
		bridge_code, bridge_name, road_number,
		road_name,
		road_type,
		bridge_location,
		bridge_center_milestone, bridge_type,
		bridge_classification,
		highway_level, desigin_load_level,
		bridge_length,
		bridge_clear_width, bridge_max_span, bridge_maintenance,
		bridge_manager, bridge_create_date, bridge_design_department,
		bridge_practice_department, bridge_supervise_department
		)
		values
		(#{bridgeId,jdbcType=INTEGER}, #{manageObjectId,jdbcType=INTEGER},
		#{bridgeStatus,jdbcType=VARCHAR},
		#{bridgeCode,jdbcType=VARCHAR},
		#{bridgeName,jdbcType=VARCHAR}, #{roadNumber,jdbcType=VARCHAR},
		#{roadName,jdbcType=VARCHAR}, #{roadType,jdbcType=VARCHAR},
		#{bridgeLocation,jdbcType=VARCHAR},
		#{bridgeCenterMilestone,jdbcType=REAL},
		#{bridgeType,jdbcType=VARCHAR},
		#{bridgeClassification,jdbcType=VARCHAR},
		#{highwayLevel,jdbcType=VARCHAR},
		#{desiginLoadLevel,jdbcType=VARCHAR}, #{bridgeLength,jdbcType=REAL},
		#{bridgeClearWidth,jdbcType=REAL}, #{bridgeMaxSpan,jdbcType=REAL},
		#{bridgeMaintenance,jdbcType=VARCHAR},
		#{bridgeManager,jdbcType=VARCHAR}, #{bridgeCreateDate,jdbcType=DATE},
		#{bridgeDesignDepartment,jdbcType=VARCHAR},
		#{bridgePracticeDepartment,jdbcType=VARCHAR},
		#{bridgeSuperviseDepartment,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.ande.bridge.admin.model.BridgeMainEntity" useGeneratedKeys="true" keyProperty="bridgeId">

		insert into t_bridge_main
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bridgeId != null">
				bridge_id,
			</if>
			<if test="manageObjectId != null">
				manage_object_id,
			</if>
			<if test="bridgeStatus != null">
				bridge_status,
			</if>
			<if test="bridgeCode != null">
				bridge_code,
			</if>
			<if test="bridgeName != null">
				bridge_name,
			</if>
			<if test="roadNumber != null">
				road_number,
			</if>
			<if test="roadName != null">
				road_name,
			</if>
			<if test="roadType != null">
				road_type,
			</if>
			<if test="bridgeLocation != null">
				bridge_location,
			</if>
			<if test="bridgeCenterMilestone != null">
				bridge_center_milestone,
			</if>
			<if test="bridgeType != null">
				bridge_type,
			</if>
			<if test="bridgeClassification != null">
				bridge_classification,
			</if>
			<if test="highwayLevel != null">
				highway_level,
			</if>
			<if test="desiginLoadLevel != null">
				desigin_load_level,
			</if>
			<if test="bridgeLength != null">
				bridge_length,
			</if>
			<if test="bridgeClearWidth != null">
				bridge_clear_width,
			</if>
			<if test="bridgeMaxSpan != null">
				bridge_max_span,
			</if>
			<if test="bridgeMaintenance != null">
				bridge_maintenance,
			</if>
			<if test="bridgeManager != null">
				bridge_manager,
			</if>
			<if test="bridgeCreateDate != null">
				bridge_create_date,
			</if>
			<if test="bridgeDesignDepartment != null">
				bridge_design_department,
			</if>
			<if test="bridgePracticeDepartment != null">
				bridge_practice_department,
			</if>
			<if test="bridgeSuperviseDepartment != null">
				bridge_supervise_department,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bridgeId != null">
				#{bridgeId,jdbcType=INTEGER},
			</if>
			<if test="manageObjectId != null">
				#{manageObjectId,jdbcType=INTEGER},
			</if>
			<if test="bridgeStatus != null">
				#{bridgeStatus,jdbcType=VARCHAR},
			</if>
			<if test="bridgeCode != null">
				#{bridgeCode,jdbcType=VARCHAR},
			</if>
			<if test="bridgeName != null">
				#{bridgeName,jdbcType=VARCHAR},
			</if>
			<if test="roadNumber != null">
				#{roadNumber,jdbcType=VARCHAR},
			</if>
			<if test="roadName != null">
				#{roadName,jdbcType=VARCHAR},
			</if>
			<if test="roadType != null">
				#{roadType,jdbcType=VARCHAR},
			</if>
			<if test="bridgeLocation != null">
				#{bridgeLocation,jdbcType=VARCHAR},
			</if>
			<if test="bridgeCenterMilestone != null">
				#{bridgeCenterMilestone,jdbcType=REAL},
			</if>
			<if test="bridgeType != null">
				#{bridgeType,jdbcType=VARCHAR},
			</if>
			<if test="bridgeClassification != null">
				#{bridgeClassification,jdbcType=VARCHAR},
			</if>
			<if test="highwayLevel != null">
				#{highwayLevel,jdbcType=VARCHAR},
			</if>
			<if test="desiginLoadLevel != null">
				#{desiginLoadLevel,jdbcType=VARCHAR},
			</if>
			<if test="bridgeLength != null">
				#{bridgeLength,jdbcType=REAL},
			</if>
			<if test="bridgeClearWidth != null">
				#{bridgeClearWidth,jdbcType=REAL},
			</if>
			<if test="bridgeMaxSpan != null">
				#{bridgeMaxSpan,jdbcType=REAL},
			</if>
			<if test="bridgeMaintenance != null">
				#{bridgeMaintenance,jdbcType=VARCHAR},
			</if>
			<if test="bridgeManager != null">
				#{bridgeManager,jdbcType=VARCHAR},
			</if>
			<if test="bridgeCreateDate != null">
				#{bridgeCreateDate,jdbcType=DATE},
			</if>
			<if test="bridgeDesignDepartment != null">
				#{bridgeDesignDepartment,jdbcType=VARCHAR},
			</if>
			<if test="bridgePracticeDepartment != null">
				#{bridgePracticeDepartment,jdbcType=VARCHAR},
			</if>
			<if test="bridgeSuperviseDepartment != null">
				#{bridgeSuperviseDepartment,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ande.bridge.admin.model.BridgeMainEntity">

		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->

		update t_bridge_main
		<set>
			<if test="manageObjectId != null">
				manage_object_id = #{manageObjectId,jdbcType=INTEGER},
			</if>
			<if test="bridgeStatus != null">
				bridge_status = #{bridgeStatus,jdbcType=VARCHAR},
			</if>
			<if test="bridgeCode != null">
				bridge_code = #{bridgeCode,jdbcType=VARCHAR},
			</if>
			<if test="bridgeName != null">
				bridge_name = #{bridgeName,jdbcType=VARCHAR},
			</if>
			<if test="roadNumber != null">
				road_number = #{roadNumber,jdbcType=VARCHAR},
			</if>
			<if test="roadName != null">
				road_name = #{roadName,jdbcType=VARCHAR},
			</if>
			<if test="roadType != null">
				road_type = #{roadType,jdbcType=VARCHAR},
			</if>
			<if test="bridgeLocation != null">
				bridge_location = #{bridgeLocation,jdbcType=VARCHAR},
			</if>
			<if test="bridgeCenterMilestone != null">
				bridge_center_milestone =
				#{bridgeCenterMilestone,jdbcType=REAL},
			</if>
			<if test="bridgeType != null">
				bridge_type = #{bridgeType,jdbcType=VARCHAR},
			</if>
			<if test="bridgeClassification != null">
				bridge_classification =
				#{bridgeClassification,jdbcType=VARCHAR},
			</if>
			<if test="highwayLevel != null">
				highway_level = #{highwayLevel,jdbcType=VARCHAR},
			</if>
			<if test="desiginLoadLevel != null">
				desigin_load_level =
				#{desiginLoadLevel,jdbcType=VARCHAR},
			</if>
			<if test="bridgeLength != null">
				bridge_length = #{bridgeLength,jdbcType=REAL},
			</if>
			<if test="bridgeClearWidth != null">
				bridge_clear_width = #{bridgeClearWidth,jdbcType=REAL},
			</if>
			<if test="bridgeMaxSpan != null">
				bridge_max_span = #{bridgeMaxSpan,jdbcType=REAL},
			</if>
			<if test="bridgeMaintenance != null">
				bridge_maintenance =
				#{bridgeMaintenance,jdbcType=VARCHAR},
			</if>
			<if test="bridgeManager != null">
				bridge_manager = #{bridgeManager,jdbcType=VARCHAR},
			</if>
			<if test="bridgeCreateDate != null">
				bridge_create_date = #{bridgeCreateDate,jdbcType=DATE},
			</if>
			<if test="bridgeDesignDepartment != null">
				bridge_design_department =
				#{bridgeDesignDepartment,jdbcType=VARCHAR},
			</if>
			<if test="bridgePracticeDepartment != null">
				bridge_practice_department =
				#{bridgePracticeDepartment,jdbcType=VARCHAR},
			</if>
			<if test="bridgeSuperviseDepartment != null">
				bridge_supervise_department =
				#{bridgeSuperviseDepartment,jdbcType=VARCHAR},
			</if>
		</set>
		where bridge_id = #{bridgeId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ande.bridge.admin.model.BridgeMainEntity">

		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->

		update t_bridge_main
		set manage_object_id =
		#{manageObjectId,jdbcType=INTEGER},
		bridge_status =
		#{bridgeStatus,jdbcType=VARCHAR},
		bridge_code =
		#{bridgeCode,jdbcType=VARCHAR},
		bridge_name =
		#{bridgeName,jdbcType=VARCHAR},
		road_number =
		#{roadNumber,jdbcType=VARCHAR},
		road_name =
		#{roadName,jdbcType=VARCHAR},
		road_type = #{roadType,jdbcType=VARCHAR},
		bridge_location = #{bridgeLocation,jdbcType=VARCHAR},
		bridge_center_milestone = #{bridgeCenterMilestone,jdbcType=REAL},
		bridge_type = #{bridgeType,jdbcType=VARCHAR},
		bridge_classification =
		#{bridgeClassification,jdbcType=VARCHAR},
		highway_level =
		#{highwayLevel,jdbcType=VARCHAR},
		desigin_load_level =
		#{desiginLoadLevel,jdbcType=VARCHAR},
		bridge_length =
		#{bridgeLength,jdbcType=REAL},
		bridge_clear_width =
		#{bridgeClearWidth,jdbcType=REAL},
		bridge_max_span =
		#{bridgeMaxSpan,jdbcType=REAL},
		bridge_maintenance =
		#{bridgeMaintenance,jdbcType=VARCHAR},
		bridge_manager =
		#{bridgeManager,jdbcType=VARCHAR},
		bridge_create_date =
		#{bridgeCreateDate,jdbcType=DATE},
		bridge_design_department =
		#{bridgeDesignDepartment,jdbcType=VARCHAR},
		bridge_practice_department
		=
		#{bridgePracticeDepartment,jdbcType=VARCHAR},
		bridge_supervise_department =
		#{bridgeSuperviseDepartment,jdbcType=VARCHAR}
		where bridge_id =
		#{bridgeId,jdbcType=INTEGER}
	</update>
</mapper>